@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h3>Course Details</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"
        @Html.DisplayNameFor(Model => Model.CourseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.CourseID)
        </dd>

        <dt class="col-sm-2"
        @Html.DisplayNameFor(Model => Model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Title)
        </dd>

        <dt class="col-sm-2"
        @Html.DisplayNameFor(Model => Model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Credits)
        </dd>
    </dl>
</div>